@media  (max-width: 959px) {
  .container {
      width: 682px;
  }
}

@media  (max-width: 767px) {
  .container {
      width: 428px;
      margin: 0 auto;
  }
}

@media  (max-width: 479px) {
  .container {
      width: 320px;
      margin: 0 auto;
  }
}

@media (max-width: 959px) {
  .mcd-menu {
  height: 85px;
}
.mcd-menu li a {
  padding: 12px;
}
.mcd-menu li a i {
  font-size: 22px;
}
.mcd-menu li a strong {
  font-size: 12px;
}
.mcd-menu li a small {
  font-size: 10px;
}
.mcd-menu li a.search {
  display:none;
}
.search-mobile { 
  display:block !important;
  margin: 20px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}
.mcd-menu li:hover > ul {
  top:85px;
  min-width:180px;
}
.mcd-menu li ul li > ul {
  min-width:150px;
  left:200px;
  top:0;
}
.mcd-menu li ul li:hover > ul {
  min-width:150px;
  left:180px;
  top:0;
}
.mcd-menu li ul li ul li ul {
  min-width:150px;
  left:25px !important;
  top:54px;
  border:0;
  border-top:3px solid #e67e22;
}
.mcd-menu li ul li ul li:hover ul {
  top:35px;
}
.mcd-menu li ul li ul li ul:before {
  border:0;
  border-bottom:5px solid #e67e22;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  left:10%;
  top:-8px;
}
.mcd-menu li:hover ul a {
  font-size:12px;
}
.mcd-menu li:hover ul a i {
  font-size:14px;
}
}

@media (max-width: 767px) {
  .mcd-menu {
    height: 42px;
    position: relative;
  }
.mcd-menu li a {
  padding: 12px 17.7px;
}
  .mcd-menu li a strong, .mcd-menu li a small, .mcd-menu li a.search {
    display: none;
  }
  .mcd-menu li a i {
    margin: 0;
    font-size: 18px;
  }
  .mcd-menu li {
    position: static;
  }
  .mcd-menu li ul {
    min-width: 100%;
    left: 0;
    top: 50px;
  }
  .mcd-menu li:hover > ul {
    top: 42px;
  }
  .mcd-menu li > ul:before {
    border:0;
  }
  .mcd-menu li ul > li {
    position: relative;
  }
  .mcd-menu li ul li:hover > ul {
  left:34px;
  }
.mcd-menu li a {
  position: relative;
  font-size:12px;
}
.mcd-menu li a:hover {
  display:block;
  font-size:10px;
  padding:3px 0;
  position:absolute;
  top:-20px;
  left:0;
  background:#e67e22;
  color:#FFF;
  min-width:100%;
  text-transform:lowercase;
  font-weight:normal;
}
.mcd-menu li a.active:before{
  left: 40%;
}
.search-mobile { 
  display:block !important;
}

.mcd-menu li ul li > ul {
  min-width:200px;
  left:200px;
}
.mcd-menu li ul li:hover ul {
  left:180px;
}
.mcd-menu li ul li ul:before {
  left:-9px;
}
.mcd-menu li ul li ul li ul {
  min-width:200px;
  border:0;
  border-top:3px solid #e67e22;
  left:25px !important;
  top: 45px;
}
.mcd-menu li ul li ul li:hover ul {
  top:40px;
}
.mcd-menu li ul li ul li ul:before {
  border:0;
  border-bottom:5px solid #e67e22;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  left:10%;
  top:-8px;
}
}

@media (max-width: 479px) {
  .mcd-menu {
    height: 42px;
    position: relative;
  }
  .mcd-menu li a strong, .mcd-menu li a small, .mcd-menu li a.search {
    display: none;
  }
  .mcd-menu li a {
    padding: 12px 13.8px;
  font-size:12px;
  }
  .mcd-menu li a i {
    margin: 0;
    font-size: 18px;
  }
  .mcd-menu li {
    position: static;
  }
  .mcd-menu li ul {
    min-width: 100%;
    left: 0;
    top: 50px;
  }
  .mcd-menu li:hover > ul {
    top: 42px;
  }
  .mcd-menu li > ul:before {
    border:0;
  }
  .mcd-menu li ul > li {
    position: relative;
  }
  .mcd-menu li ul li:hover > ul {
  left:34px;
  }
.mcd-menu li a {
  position: relative;
}
.mcd-menu li a:hover strong,.mcd-menu li a.active strong {
  display:block;
  font-size:10px;
  padding:3px 0;
  position:absolute;
  top:-20px;
  left:0;
  background:#e67e22;
  color:#FFF;
  min-width:100%;
  text-transform:lowercase;
  font-weight:normal;
}
.mcd-menu li a.active:before{
  left: 40%;
}

.mcd-menu li ul li > ul {
  min-width:150px;
  left:160px;
}
.mcd-menu li ul li:hover ul {
  left:120px;
}
.mcd-menu li ul li ul:before {
  left:-9px;
}
.mcd-menu li ul li ul li ul {
  min-width:160px;
  left:25px !important;
  top:39px;
  border:0;
  border-top:3px solid #e67e22;
}
.mcd-menu li ul li ul li:hover ul {
  top:39px;
}
.mcd-menu li ul li ul li ul:before {
  border:0;
  border-bottom:5px solid #e67e22;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  left:10%;
  top:-8px;
}
  
}